<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviation Weather</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/foundation.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/app.css") }}">
</head>
<body>
    {% include "fragments/header.html" %}
    {% block main %}{% endblock %}
    {% include "fragments/footer.html" %}
    <script src="{{ url_for("static", filename="js/vendor/jquery.js") }}"></script>
    <script src="{{ url_for("static", filename="js/vendor/what-input.js") }}"></script>
    <script src="{{ url_for("static", filename="js/vendor/foundation.js") }}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
